/* Reset základního stylu */
* {
    margin: 0;
    padding: 0;
    color: #F5DEB3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Logo */
.logo {
    font-size: 20px;
}

/* Obecné nastavení sekce */
section {
    max-width: 100vw;
}

/* Nadpis */
.nadpis {
    text-align: center;
    color: rgb(202, 192, 177);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Hlavní kontejner pro grid */
.menu-grid {
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.452);
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    position: relative;
}

.menu-onas {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.452);
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
    margin: auto;
    display: grid;
    position: relative;
}
.text-onas {
    text-align: right;
    text-align: justify;
}

.onas {
    width: 300px;
    height: 300px;
    border-radius: 20%; /* Kulaté obrázky */
}
.letec {
    left: auto;
    max-width: 650px;
    text-align: left;

}

.letec2 {
    max-width: 500;
    float: right;
    overflow: hidden;
}

/* Obrázky produktů */
.produkt, .produkt2 {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 20%; /* Kulaté obrázky */
    transition: transform 0.3s ease-in-out;
}

.produkt:hover, .produkt2:hover {
    transform: scale(1.1);
}

/* Pozadí */
#pozadi {
    background: #967969;
    padding: 20px;
    /* border-radius: 8px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
}


/* Hlavní kontejner */
.hlavni {
    top: 120px;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}

/* Ostatní styly */
.textik {
    width: 500px;
    color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: auto;
}

.obrazeek, .informaceobrazek {
    max-width: 650px;
    margin-left: auto;
    border-radius: 10%;
}

.produkt:hover {
    transform: scale(1.05);
}

#custom-header {
    background-color:#52423a;
    color: #F5DEB3;
    padding: 20px 0;
}
