/* Reset základního stylu */
* {
    margin: 0;
    padding: 0;
    color: #F5DEB3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Logo */
.logo {
    font-size: 20px;
}

/* Obecné nastavení sekce */
section {
    max-width: 100vw;
}

/* Nadpis */
.nadpis {
    text-align: center;
    color: rgb(202, 192, 177);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Hlavní kontejner pro grid */
.menu-grid {
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.452);
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    position: relative;
}

/* Media queries meni pocet sloupcu na zaklade sirky viewportu */
@media (min-width: 640px) {
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .menu-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*Header Hover effect */
#custom-header a:hover {
color: #52423a;
background-color: #F5DEB3;

}

/* Menu-grid upraven pro show */
.menu-okave {
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.452);
    max-width: 80%;
    margin: auto;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
}

/* Menu-grid upraven pro about */
.menu-onas {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.452);
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
    margin: auto;
    display: grid;
    position: relative;
}

.menu-create {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.452);
    max-width: 80%;
    margin: auto;
    display: grid;
    position: relative;
}
/* Text Vpravo u show a about */
.text-prava {
    text-align: right;
    text-align: justify;
}
/* Obrázek vlevo u show a about */
.obrazek-leva {
    transform: scale(1.1);
    object-fit: cover;
    border-radius: 20%; /* Kulaté obrázky */
    width: 300px;
    height: 300px;
    border-radius: 20%; /* Kulaté obrázky */
}

/* Sekce Levá Strana */
.letec {
    left: auto;
    max-width: 650px;
    text-align: left;

}
/* Sekce Pravá Strana*/
.letec2 {
    max-width: 500;
    float: left;
    overflow: hidden;
}

/* Obrázky produktů */
.produkt, .produkt2 {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 20%; /* Kulaté obrázky */
    transition: transform 0.3s ease-in-out;
}

.produkt:hover, .produkt2:hover, .pridavani:hover, .submit:hover {
    transform: scale(1.1);
}

#pozadi {
    padding: 20px;
    min-height: 100vh;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0) 50%,rgb(200, 200, 200) 90%),
        url('/storage/coffee_images/kavarna.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Tlacitko pridat */
.pridavani {
    width: 150px;
    padding: 20px;
    background-color:#967969;
    border-radius: 20%;
}

.create-center {
    max-width: 50%;
    text-align: center;
    margin: auto;
    justify-content: center;
}

/* Napis v Create */
.napis {
    text-align: center;
    color: rgb(202, 192, 177);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Create Kafe */
.submit {
    margin: auto;
    background-color:#F5DEB3;
    border: none;
    color:#52423a;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}


/* Hlavní kontejner */
.hlavni {
    top: 120px;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}

/* Ostatní styly */
.textik {
    width: 500px;
    color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: auto;
}

.text-input {
    background-color: beige;
    color:#52423a;
}

input::file-selector-button {
    background-color: beige;
    background-color:#F5DEB3;
    border: none;
    color:#52423a;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

.obrazeek, .informaceobrazek {
    max-width: 650px;
    margin-left: auto;
    border-radius: 10%;
}

.produkt:hover {
    transform: scale(1.05);
}

#custom-header {
    background-color:#52423a;
    color: #F5DEB3;
    padding: 20px 0;
}
